/* 全局滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #909399;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: #f5f7fa;
}

/* 确保在所有情况下都应用这些样式 */
* {
  scrollbar-width: thin;
  scrollbar-color: #909399 #f5f7fa;
}
